version: '3.9'

services:
  django:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile.django
    container_name: django
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    depends_on:
      - tailwind

  tailwind:
    build:
      context: .
      dockerfile: Dockerfile.tailwind
    container_name: tailwind
    ports:
      - "5173:5173"
    volumes:
      - ./theme/static_src:/app/theme/static_src
