{% extends "base.html" %}
{% load static %}
{% load humanize %}
{% block title %}Laporan Laba Rugi{% endblock %}

{% block content %}
<div class="flex h-screen">

  {% include 'core/partials/sidebar.html' %}

  <main id="main-content" class="flex-1 p-8 overflow-y-auto">

    <div class="flex justify-between items-center mb-8">
      <h1 class="text-3xl font-bold">Laporan Laba Rugi</h1>
      <div class="flex gap-4">
        <button class="bg-gray-700 text-white py-2 px-6 rounded-lg font-semibold hover:bg-gray-600">
          Export to Excel
        </button>
        <button class="bg-red-700 text-white py-2 px-6 rounded-lg font-semibold hover:bg-red-600">
          Download PDF
        </button>
      </div>
    </div>

    <div class="bg-white rounded-2xl p-10 shadow-lg max-w-4xl mx-auto">

      <div class="text-center mb-10">
        <h2 class="text-2xl font-bold">{{ report.company_name | default:'Nama Perusahaan' }}</h2>
        <p class="text-xl font-semibold">LAPORAN HARGA POKOK PENJUALAN</p>
        <p class="text-md text-slate-500">{{ report.month | default:'Bulan' }} {{ report.year | default:'Tahun' }}</p>
      </div>
      <div class="space-y-4 max-w-2xl mx-auto mb-16">
        <div class="flex justify-between items-center border-b pb-2">
          <span class="text-slate-700">Persediaan Awal</span>
          <span class="font-semibold">Rp {{ grand_total_awal | floatformat:0 | intcomma }}</span>
        </div>
        <div class="flex justify-between items-center border-b pb-2">
          <span class="text-slate-700">Pembelian (Neto)</span>
          <span class="font-semibold">Rp {{ grand_total_pembelian_neto | floatformat:0 | intcomma}}</span>
        </div>
        <div class="flex justify-between items-center border-b pb-2">
          <span class="text-slate-700">Barang Siap untuk Dijual</span>
          <span class="font-semibold">Rp {{ grand_total_barang_tersedia | floatformat:0 | intcomma}}</span>
        </div>
        <div class="flex justify-between items-center border-b pb-2">
          <span class="text-slate-700">Persediaan Akhir</span>
          <span class="font-semibold">(Rp {{ grand_total_akhir | floatformat:0 | intcomma}})</span>
        </div>
        <div class="flex justify-between items-center bg-slate-100 p-3 rounded-lg mt-4">
          <span class="font-bold text-lg">Harga Pokok Penjualan (HPP)</span>
          <span class="font-bold text-lg">Rp {{ hpp_total | floatformat:0 | intcomma}}</span>
        </div>
        <div class="mt-6">
          <span class="text-slate-700">HPP Per Produk</span>
          <div class="space-y-2 ml-5">
            {% for item in hpp_per_product %}
            <div class="flex justify-between border-b py-1 px-2 ">
                <span>{{ item.product_name }}</span>
                <span>
                    {% if item.hpp is not None %}
                        Rp {{ item.hpp | floatformat:0 | intcomma}}
                    {% else %}
                        missing hpp details
                    {% endif %}
                </span>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <hr class="my-12 border-slate-300" />

      <div class="text-center mb-10">
        <h2 class="text-2xl font-bold">{{ report.company_name | default:'Nama Perusahaan' }}</h2>
        <p class="text-xl font-semibold">LAPORAN LABA RUGI</p>
        <p class="text-md text-slate-500">{{ report.month | default:'Bulan' }} {{ report.year | default:'Tahun' }}</p>
      </div>
      <div class="space-y-4 max-w-2xl mx-auto">
        <div class="font-bold text-lg">Pendapatan</div>
        <div class="pl-6 border-b pb-2">
          <div class="flex justify-between items-center py-1">
            <span>Pendapatan Usaha</span>
            <span>Rp {{ total_pendapatan_usaha | floatformat:0 | intcomma}}</span>
          </div>
          <div class="flex justify-between items-center py-1">
            <span>Pendapatan Lain - Lain</span>
            <span>Rp {{ total_pendapatan_lain | floatformat:0 | intcomma}}</span>
          </div>
        </div>
        <div class="flex justify-between items-center font-bold py-1 pl-6">
          <span>Jumlah Pendapatan</span>
          <span>Rp {{ jumlah_pendapatan | floatformat:0 | intcomma}}</span>
        </div>

        <div class="font-bold text-lg pt-6">Beban</div>
        <div class="pl-6 border-b pb-2">
          <div class="flex justify-between items-center py-1">
            <span>Beban Usaha - HPP</span>
            <span>Rp {{ hpp_total | floatformat:0 | intcomma}}</span>
          </div>
          {% for item in beban_usaha_items %}
          <div class="flex justify-between items-center py-1">
            <span>{{ item.name }}</span>
            <span>Rp {{ item.total | floatformat:0 | intcomma}}</span>
          </div>
          {% endfor %}
           <div class="flex justify-between items-center py-1 font-semibold border-t mt-1 pt-1">
            <span>Total Beban Usaha Lainnya</span>
            <span>Rp {{ total_beban_usaha_lainnya | floatformat:0 | intcomma}}</span>
          </div>
          {% for item in beban_lain_items %}
          <div class="flex justify-between items-center py-1 mt-2">
            <span>{{ item.name }}</span>
            <span>Rp {{ item.total | floatformat:0 | intcomma}}</span>
          </div>
          {% endfor %}
          <div class="flex justify-between items-center py-1 font-semibold border-t mt-1 pt-1">
            <span>Total Beban Lain - Lain</span>
            <span>Rp {{ total_beban_lain | floatformat:0 | intcomma}}</span>
          </div>
        </div>
        <div class="flex justify-between items-center font-bold py-1 pl-6">
          <span>Jumlah Beban</span>
          <span>Rp {{ jumlah_beban | floatformat:0 | intcomma}}</span>
        </div>

        <div class="space-y-2 pt-8">
          <div class="flex justify-between items-center font-semibold text-slate-700 py-2">
            <span>Laba (Rugi) Sebelum Pajak Penghasilan</span>
            <span class="font-bold text-black">Rp {{ laba_sebelum_pajak | floatformat:0 | intcomma}}</span>
          </div>
          <div class="flex justify-between items-center font-semibold text-slate-700 py-2">
            <span>Beban Pajak Penghasilan</span>
            <span class="font-bold text-black">(Rp {{ pajak_penghasilan | floatformat:0 | intcomma}})</span>
          </div>
          <div class="flex justify-between items-center bg-green-100 p-4 rounded-lg mt-4">
            <span class="font-bold text-lg text-green-700">Laba (Rugi) Setelah Pajak Penghasilan</span>
            <span class="font-bold text-lg text-green-700">Rp {{ laba_setelah_pajak | floatformat:0 | intcomma}}</span>
          </div>
        </div>
      </div>
      </div>
    </main>
  </div>
{% endblock %}

{% block extra_js %}
{% endblock %}