{% extends "base.html" %} 
{% load static %} 
{% block title %}Dashboard - Profile Perusahaan{% endblock %} 

{% block content %}
<body class="bg-[#F4F6F9] p-4 md:p-6">
  <div class="flex gap-6">
    <aside
      id="sidebar"
      class="group bg-[#4A5C51] text-white p-6 rounded-2xl flex flex-col justify-between transition-[width] duration-300 ease-in-out w-[280px] [&.collapsed]:w-24"
    >
      <div>
        <div class="flex items-center justify-between mb-12">
          <div
            class="bg-white text-black font-bold text-lg py-2 px-4 rounded-md text-center group-[.collapsed]:hidden"
          >
            <strong>Logo</strong>
          </div>
          <button
            id="menu-toggle-btn"
            class="text-white p-2 rounded-md hover:bg-[#5a7065]"
          >
            <svg
              class="w-6 h-6"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
              />
            </svg>
          </button>
        </div>
       
        {% include 'core/sections/side_menu.html' %}
        
      </div>
      <button
        class="w-full py-4 bg-[#8C705A] font-semibold rounded-lg hover:bg-[#a1826a] flex items-center justify-center gap-4"
      >
        <svg
          class="w-6 h-6 group-[.collapsed]:hidden"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75"
          />
        </svg>
        <span class="group-[.collapsed]:hidden">Logout</span>
        <svg
          class="w-6 h-6 hidden group-[.collapsed]:block"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 9V5.25A2.25 2.25 0 0 0 13.5 3h-6a2.25 2.25 0 0 0-2.25 2.25v13.5A2.25 2.25 0 0 0 7.5 21h6a2.25 2.25 0 0 0 2.25-2.25V15M12 9l-3 3m0 0 3 3m-3-3h12.75"
          />
        </svg>
      </button>
    </aside>

    <main id="main-content" class="flex-1">
      <h1 class="text-3xl font-bold mb-6">Profile Perusahaan</h1>
      <div class="bg-white rounded-2xl p-8 shadow-sm">
        <div class="mb-8">
          <label
            for="company-name"
            class="block text-slate-600 font-semibold mb-2"
            >Nama Perusahaan</label
          ><input
            type="text"
            id="company-name"
            class="w-full p-3 border-b-2 border-slate-200 focus:border-slate-400 outline-none"
          />
        </div>
        <div class="flex gap-8 mb-8">
          <div class="flex-1">
            <label for="month" class="block text-slate-600 font-semibold mb-2"
              >Bulan</label
            ><select
              id="month"
              class="w-full p-3 border-b-2 border-slate-200 bg-transparent outline-none"
            >
              <option>Pilih Bulan</option>
              <option>January</option>
              <option>Februari</option>
              <option>Maret</option>
              <option>April</option>
              <option>Mei</option>
              <option>Juni</option>
              <option>Juli</option>
              <option>Agustus</option>
              <option>September</option>
              <option>Oktober</option>
              <option>November</option>
              <option>Desember</option>
            </select>
          </div>
          <div class="flex-1">
            <label for="year" class="block text-slate-600 font-semibold mb-2"
              >Tahun</label
            ><input
              type="text"
              id="year"
              class="w-full p-3 border-b-2 border-slate-200 outline-none"
            />
          </div>
        </div>
        <div class="mb-8">
          <label
            for="business-status"
            class="block text-slate-600 font-semibold mb-2"
            >Status usaha</label
          >
          <select
            id="business-status"
            class="w-full p-3 border-b-2 border-slate-200 bg-transparent outline-none"
          >
            <option value="">Pilih Status</option>
            <option value="orang_pribadi">Orang Pribadi</option>
            <option value="badan_usaha">Badan Usaha (CV/PT)</option>
          </select>
        </div>
        <div id="ptkp-field-wrapper" class="mb-8 hidden">
          <label
            for="ptkp-status"
            class="block text-slate-600 font-semibold mb-2"
            >Status PTKP</label
          >
          <select
            id="ptkp-status"
            class="w-full p-3 border-b-2 border-slate-200 bg-transparent outline-none"
          >
            <option>Pilih Status PTKP</option>
            <option>TK/0</option>
            <option>TK/1</option>
            <option>TK/2</option>
            <option>TK/3</option>
            <option>K/0</option>
            <option>K/1</option>
            <option>K/2</option>
            <option>K/3</option>
            <option>K/I/0</option>
            <option>K/I/1</option>
            <option>K/I/2</option>
            <option>K/I/3</option>
          </select>
        </div>
        <div class="mb-8">
          <label
            for="umkm-incentive"
            class="block text-slate-600 font-semibold mb-2"
            >Sudah daftar insentif pajak UMKM</label
          >
          <select
            id="umkm-incentive"
            class="w-full p-3 border-b-2 border-slate-200 bg-transparent outline-none"
          >
            <option>Pilih Jawaban</option>
            <option value="sudah">Sudah</option>
            <option value="belum">Belum</option>
          </select>
        </div>
        <div class="mb-8">
          <label for="omzet" class="block text-slate-600 font-semibold mb-2"
            >Omzet</label
          >
          <input
            type="text"
            id="omzet"
            placeholder="Masukkan Omzet Bulanan"
            class="w-full p-3 border-b-2 border-slate-200 focus:border-slate-400 outline-none"
          />
        </div>
        <div class="mb-8">
          <label
            for="business-type"
            class="block text-slate-600 font-semibold mb-2"
            >Jenis usaha</label
          >
          <select
            id="business-type"
            class="w-full p-3 border-b-2 border-slate-200 bg-transparent outline-none"
          >
            <option value="">Pilih Jenis Usaha</option>
            <option value="dagang">Dagang</option>
            <option value="manufaktur">Manufaktur</option>
          </select>
        </div>
        <div class="text-right mt-16">
          <button
            id="profile-next-btn"
            type="button"
            class="py-3 px-12 bg-[#8C705A] text-white font-semibold rounded-lg hover:bg-[#a1826a]"
          >
            Next
          </button>
        </div>
      </div>
    </main>
  </div>

  <script src="{% static 'core/js/profile.js' %}"></script>
  <div
    id="success-alert"
    class="fixed inset-0 bg-black/40 flex justify-center items-center z-50 transition-opacity opacity-0 pointer-events-none"
  >
    <div class="bg-white p-8 rounded-2xl shadow-xl w-full max-w-sm text-center">
      <svg
        class="w-16 h-16 text-green-500 mx-auto mb-4"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
      <p class="text-lg font-semibold">data usaha berhasil terkirim</p>
    </div>
  </div>

  <div
    id="error-alert"
    class="fixed inset-0 bg-black/40 flex justify-center items-center z-50 transition-opacity opacity-0 pointer-events-none"
  >
    <div class="bg-white p-8 rounded-2xl shadow-xl w-full max-w-sm text-center">
      <svg
        class="w-16 h-16 text-red-500 mx-auto mb-4"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
        />
      </svg>
      <p class="text-lg font-semibold">
        Check ulang data usaha anda<br />Pastikan tidak ada yang kosong
      </p>
    </div>
  </div>
</body>
{% endblock %}
